<nav class="navbar bg-dark navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Video Player</a>
    </div>
    <ul class="nav navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/videos" routerLinkActive="active">Playlist</a>
      </li>
    </ul>
  </div>
</nav>
<div class="cotainer">
  <router-outlet></router-outlet>
</div>
